/* Themify Customize Styling */
body {	
	font-family:Open Sans;	font-weight:300;
	font-size:17px;

	color: #4d4d4d; 
}
h1 {	
	font-family:Open Sans;	font-weight:bold;
	font-size:80px;
 
}
h2 {	
	font-family:Open Sans;	font-weight:normal;

	color: #4d4d4d; 
}
#headerwrap {	
	background-color: #3b3b3b; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo {	
	font-family:Open Sans;	font-weight:bold;
	font-size:28px;

	color: #ffffff; 
}
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {	
	color: #ffffff; 
}
#main-nav {		position:relative;

	top: 3px; 
}
#main-nav a {	
	font-family:Open Sans;	font-weight:300;
	font-size:16px;
 
}
#main-nav a, #main-nav > li > a {	
	color: #ffffff; 
}
#main-nav a:hover, #main-nav > li > a:hover {	
	color: #a6a6a6; 
}
#main-nav .current_page_item a, #main-nav .current-menu-item a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #ffffff; 
}
#main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #a6a6a6; 
}
.post-title, .post-title a {	
	color: #3b3b3b; 
}
.post-title {	
	background-color: transparent; 
}
.post-date, .post .post-date .day,.post-date .month, .post .post-date .year, .loops-wrapper.list-post .post .post-date, .single .post-content .post-date {		font-size:14px;
	text-align:center; 
}
#footerwrap {	
	background-color: #292929; 
}
#footer {	
	color: #ffffff; 
}
#footer a {	
	color: #ffffff; 
}
@media screen and (max-width: 976px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {	
	color: #ffffff; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {	
	color: #ffffff; 
}
 }@media screen and (max-width: 480px) { /* Themify Customize Styling */
#site-logo, #site-logo a, .header-horizontal #site-logo, .header-minbar #site-logo, .header-leftpane #site-logo, .header-slide-out #site-logo, .boxed-compact #site-logo, .header-top-bar #site-logo a {	
	color: #ffffff; 
}
 }